<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Made by OrangeTeam</title>

    @*stylesheets*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    @*regular jquery*@
    <script src="~/Scripts/jquery-1.12.4.js"></script>

    @*jquery ui for datepicker*@
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

    @*jquery validation*@
    <script src="~/Scripts/jquery.validate.js"></script>
</head>
<body>
    <nav id="nav-3" class="navbar-">
        <a class="link-3" href="/home/index">Home</a>
        <a class="link-3" href="/employees/index">Empleados</a>
        <a class="link-3" href="/country/index">Paises</a>
        <a class="link-3" href="/shifts/selectshift">Ingresar horario</a>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <br />
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year  -  TP3 ASP.NET  WEB MVC - Milton Landriel - Sebastián Flores - Pablo Alejandro Silva Franco - Daniel Alejandro Riba</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {

            $('.datepicker').datepicker({
                inline: true,
                monthNames: ["Enero", "Febreo", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                dayNames: ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"],
                dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                maxDate: "+0d"
            });

            $('.validate-form').validate();

            jQuery.validator.addClassRules("number-validation", {
                min: 0.01
            });
            $.validator.addMethod("alphabet", function (value, element) {
                return this.optional(element) || value == value.match(/^[a-zA-Z\áéíóúñÁÉÍÓÚÑ]+$/);
            }, "Ingrese sólo letras.");

            $.validator.addMethod("decimal-validation", function (value, element) {
                return this.optional(element) || value == value.replace(",", ".");
            }, "Ingrese un número válido.");

            jQuery.validator.addClassRules("name-validation", {
                minlength: 2,
                alphabet: true,
            });

            //Traducir a medida que se va necesitando...
            jQuery.extend(jQuery.validator.messages, {
                required: "Este campo es obligatorio.",
                remote: "Please fix this field.",
                email: "Please enter a valid email address.",
                url: "Please enter a valid URL.",
                date: "Please enter a valid date.",
                dateISO: "Please enter a valid date (ISO).",
                number: "Ingrese un número válido.",
                digits: "Please enter only digits.",
                creditcard: "Please enter a valid credit card number.",
                equalTo: "Please enter the same value again.",
                accept: "Please enter a value with a valid extension.",
                maxlength: jQuery.validator.format("Please enter no more than {0} characters."),
                minlength: jQuery.validator.format("Ingrese al menos {0} caracteres."),
                rangelength: jQuery.validator.format("Please enter a value between {0} and {1} characters long."),
                range: jQuery.validator.format("Please enter a value between {0} and {1}."),
                max: jQuery.validator.format("Please enter a value less than or equal to {0}."),
                min: jQuery.validator.format("Ingrese un número válido."),
            });
        });
    </script>

</body>
</html>