@model Services.Dtos.EmployeeDto

@{
    ViewBag.Title = "Elegir mes";
    var hiringDate = (DateTime)Model.HiringDate;
    var thisYear = DateTime.Today.Year;
    var thisMonth = DateTime.Today.Month;
    var months = new[] { "Enero", "Febrero", "Marzo", "Abril",
                         "Mayo", "Junio", "Julio", "Agosto",
                         "Septiembre","Octubre", "Noviembre", "Diciembre" };
}

<h2>@Model.FirstName @Model.LastName</h2>

<br />

<h4>Elegir mes y año</h4>

<form action="/salary/calculate" method="post" class="validate-form">
    @Html.AntiForgeryToken()

    <input hidden name="id" value="@Model.EmployeeID"/>

    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            <label class="control-label col-md-2">Año</label>
            <div class="col-md-10">
                <select onchange="ShowMonths(this, 
                                             @hiringDate.Year, 
                                             @hiringDate.Month, 
                                             @thisYear, 
                                             @thisMonth);"
                        name="year" class="btn btn-block">
                    @{
                        for (int year = hiringDate.Year; year <= thisYear; year++)
                        {
                                <option value="@year">@year</option>
                        }

                    }


                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Mes</label>
            <div class="col-md-10">
                <select id="month-selection" name="month" class="btn btn-block">
                    @{
                        int lastMonth = 12;

                        if (thisYear == DateTime.Today.Year)
                        {
                            lastMonth = DateTime.Today.Month;
                        }

                        for (int month = hiringDate.Month; month <= thisMonth; month++)
                        {
                            <option value="@month">@months[month - 1]</option>
                        }

                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn accept btn-side-margin btn-glow">Ver salario</button>
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Volver", "Index", "Employees")
</div>
<br />
<br />
<br />

<script>

    function MonthNumberToString(n) {
        if ((n <= 0) || (n > 12))
            return;

        var months = ["Enero", "Febrero", "Marzo", "Abril",
            "Mayo", "Junio", "Julio", "Agosto",
            "Septiembre","Octubre", "Noviembre", "Diciembre"];

        var month = months[n - 1];

        return month;
    }

    function ShowMonths(selectedYearObj, firstYear, firstMonth, thisYear, thisMonth) {
        selectedYear = parseInt(selectedYearObj.value)
        var startMonth = 1;
        var endMonth = 12;

        var today = new Date();

        if (selectedYear == firstYear) {
            startMonth = firstMonth;
        }

        if (selectedYear == thisYear) {
            endMonth = thisMonth;
        }
        
        $("#month-selection").empty();
        for (currentMonth = startMonth; currentMonth <= endMonth; currentMonth++) {
            $("#month-selection").append("<option value='" +
                                         currentMonth +
                                         "'>" +
                                         MonthNumberToString(currentMonth) +
                                         "</option>")
        }
    }
</script>
<br />
<br />
<br />