
@model List<Services.Dtos.EmployeeWorkDay>

@{
    ViewBag.Title = "Ingresar turno";
}

@if (Model == null)
{
    using (Html.BeginForm("GetEmployees", "Shifts", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="jumbotron">
            <h2>Ingresar horario</h2>
            <br>
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-10">
                        <h5>Ingrese el turno</h5>

                        <select name="shift" class="btn btn-block">
                            <option @(ViewBag.SelectedShift == "mañana" ? "selected" : "") value="mañana">Mañana</option>
                            <option @(ViewBag.SelectedShift == "tarde" ? "selected" : "") value="tarde">Tarde</option>
                            <option @(ViewBag.SelectedShift == "noche" ? "selected" : "") value="noche">Noche</option>
                        </select>

                        <br>
                        <button type="submit" class="btn btn-default accept">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    }
}


@if (Model != null)
{
    <div class="jumbotron">
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayName("Id")
                </th>
                <th>
                    @Html.DisplayName("Nombre")
                </th>
                <th>
                    @Html.DisplayName("Apellido")
                </th>
                <th class="text-center">
                    <label>Horario de ingreso (@DateTime.Today.ToString("dd/MM"))</label>
                </th>
                <th class="text-center">
                    <label>Horario de salida (@DateTime.Today.ToString("dd/MM"))</label>
                </th>
                <th class="text-center">
                    @Html.DisplayName("Horas Trabajadas")
                </th>
                <th>

                </th>
            </tr>

            @foreach (var employee in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(e => employee.EmployeeID)
                    </td>

                    <td>
                        @Html.DisplayFor(e => employee.FirstName)
                    </td>

                    <td>
                        @Html.DisplayFor(e => employee.LastName)
                    </td>

                    <td class="text-center">
                        @if ((employee.TimeIn == null) && ((int)HttpContext.Current.Application["EditId"] == employee.EmployeeID))
                    {
                        using (Html.BeginForm("AddRow", "Shifts", FormMethod.Post))
                        {
                                <div class="form-inline">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <input hidden value="@employee.EmployeeID" name="employeeId" />
                                    <span>Hora: </span>
                                    <input required type="number" min="0" max="23" name="hours" value="0" placeholder="Horas" class="form-control col-xs-2" />
                                    <span>Minutos: </span>
                                    <input required type="number" min="0" max="59" name="minutes" value="0" placeholder="Minutos" class="form-control col-xm-2" />
                                    <input hidden value="@employee.Shift" name="shift" />
                                    <button type="submit" class="btn btn-default accept">OK</button>
                                </div>

                            }
                        }
                        else if (employee.TimeIn != null)
                        {
                            <label>@(((DateTime)employee.TimeIn).ToString("HH:mm"))</label>
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>

                    <td class="text-center">
                        @if ((employee.TimeIn != null) &&
                    (employee.TimeOut == null) &&
                    ((int)HttpContext.Current.Application["EditId"] == employee.EmployeeID))
                        {
                            if (ViewBag.JustCreated == null)
                            {
                                using (Html.BeginForm("UpdateRow", "Shifts", FormMethod.Post))
                                {
                                    <div class="form-inline">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <input hidden value="@employee.EmployeeID" name="employeeId" />
                                        <span>Hora: </span>
                                        <input required type="number" min="0" max="23" name="hours" value="0" class="form-control col-xm-2" />
                                        <span>Minutos: </span>
                                        <input required type="number" min="0" max="59" name="minutes" value="0" class="form-control col-xm-2" />
                                        <input hidden value="@employee.Shift" name="shift" />
                                        <button type="submit" class="btn btn-default accept">OK</button>
                                    </div>
                                }
                            }
                            else
                            {
                                <span>-</span>
                            }
                        }
                        else if (employee.TimeOut != null)
                        {
                            <label>@(((DateTime)employee.TimeOut).ToString("HH:mm"))</label>
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>
                    <td class="text-center">
                        @if (employee.HoursWorked != null)
                    {
                            @Html.DisplayFor(e => employee.HoursWorked)
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>

                    <td class="text-center">
                        @if (employee.TimeIn != null && employee.TimeOut != null)
                    {
                            <span>-</span>
                        }
                        else
                        {
                            @Html.ActionLink("Editar", "AddTime", employee, employee.Shift)
                        }

                    </td>
                </tr>
            }

        </table>

        <br />

        @Html.ActionLink("Elegir otro turno", "SelectShift")

        </div>
        }
