
@model List<Services.Dtos.EmployeeWorkDay>

@{
    ViewBag.Title = "Ingresar turno";
}

<h2>Ingresar horario</h2><br>

@using (Html.BeginForm("GetEmployees", "Shifts", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-10">
                <h5>Ingrese el turno</h5>

                <select name="shift" class="btn btn-block">
                    <option @(ViewBag.SelectedShift == "mañana" ? "selected" : "") value="mañana">Mañana</option>
                    <option @(ViewBag.SelectedShift == "tarde" ? "selected" : "") value="tarde">Tarde</option>
                    <option @(ViewBag.SelectedShift == "noche" ? "selected" : "") value="noche">Noche</option>
                </select>

                <br>
                <button type="submit" class="btn btn-default accept">Aceptar</button>
            </div>
        </div>
    </div>
}


@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Turno")
            </th>
            <th>
                @Html.DisplayName("Nombre")
            </th>
            <th>
                @Html.DisplayName("Apellido")
            </th>
            <th>
                @Html.DisplayName("Horario de ingreso")
            </th>
            <th>
                @Html.DisplayName("Horario de salida")
            </th>
            <th>
                @Html.DisplayName("Horas Trabajadas")
            </th>
            <th>

            </th>
        </tr>

        @foreach (var employee in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(e => employee.Shift)
                </td>

                <td>
                    @Html.DisplayFor(e => employee.FirstName)
                </td>

                <td>
                    @Html.DisplayFor(e => employee.LastName)
                </td>

                <td>
                    @Html.DisplayFor(e => employee.TimeIn)
                </td>

                <td>
                    @Html.DisplayFor(e => employee.TimeOut)
                </td>
                <td>
                    @Html.DisplayFor(e => employee.HoursWorked)
                </td>


                <td>
                   @if (employee.TimeIn == null || employee.TimeOut == null)
                   {
                    @Html.ActionLink("Editar", "AddTime", employee)
                   }
                </td>
            </tr>
        }

    </table>

}

@if (ViewBag.NewRow == true)
{

    using (Html.BeginForm("AddRow", "Shifts", FormMethod.Post))
    {
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="col-md-10">
                    <h5>Ingrese el horario</h5>

                    <div class="form-group">
                        <label class="control-label col-md-2">Horario de entrada</label>
                        <div class="col-md-10">
                            <input required type="number" min="0" max="23" name="hour" placeholder="horario" class="form-control name-validation" maxlength="50" />
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-default accept">Aceptar</button>
                </div>
            </div>
        </div>
    }

}
else if (ViewBag.NewRow != true)
{
    if (ViewBag.TimeOut == false)
    {
        using (Html.BeginForm("UpdateRow", "Shifts", FormMethod.Post))
        {
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-10">
                        <h5>Ingrese el horario</h5>

                        <div class="form-group">
                            <label class="control-label col-md-2">Horario de salida</label>
                            <div class="col-md-10">
                                <input required min="0" max="23" type="number" name="hour" placeholder="Horario" class="form-control name-validation" maxlength="50" />
                            
                            </div>
                        </div>

                        <br>
                        <button type="submit" class="btn btn-default accept">Aceptar</button>
                    </div>
                </div>
            </div>
        }
    }
}






