@model Tuple<List<Services.Dtos.EmployeeDto>, List<Services.Dtos.CountryDto>>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Nuevo Empleado", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("País")
        </th>
        <th>
            @Html.DisplayName("Turno")
        </th>
        <th>
            @Html.DisplayName("Nombre")
        </th>
        <th>
            @Html.DisplayName("Apellido")
        </th>
        <th>
            @Html.DisplayName("Fecha de ingreso")
        </th>
        <th>
            @Html.DisplayName("Valor de la hora")
        </th>
        <th></th>
    </tr>

@foreach (var employee in Model.Item1)
{
    <tr>
        <td>
            <span>@Model.Item2.FirstOrDefault(c => c.CountryID == employee.CountryID).CountryName</span>
        </td>

        <td>
            @switch (employee.Shift)
            {
                case Services.Dtos.EmployeeDto.Shifts.FirstShift:
                    <span>Mañana</span>
                    break;
                case Services.Dtos.EmployeeDto.Shifts.SecondShift:
                    <span>Tarde</span>
                    break;
                case Services.Dtos.EmployeeDto.Shifts.ThirdShift:
                    <span>Noche</span>
                    break;
            }
        </td>

        <td>
            @Html.DisplayFor(e => employee.FirstName)
        </td>

        <td>
            @Html.DisplayFor(e => employee.LastName)
        </td>

        <td>
            @Html.DisplayFor(e => employee.HiringDate)
        </td>

        <td>
            @Html.DisplayFor(e => employee.HourlyWage)
        </td>

        <td>
            <a href = "/employees/edit?id=@employee.EmployeeID" class="active">Editar</a> | 
            <a href="/employees/delete?id=@employee.EmployeeID" class="active">Borrar</a>
            @*@Html.ActionLink("Editar", "Edit", new { id = employee.EmployeeID }) | 
            @Html.ActionLink("Borrar", "Delete", new { id = employee.EmployeeID })*@
        </td>
    </tr>
}

</table>