@model List<Services.Dtos.EmployeeDto>

@{
    ViewBag.Title = "Index";
}

<p>
<p><a href="/employees/create" id="click" class="btn btn-primary btn-lg">Nuevo empleado &raquo;</a></p>
    @*Html.ActionLink("Nuevo Empleado", "Create")*@
</p>

<div class="jumbotron">
    <h2>Listado de personal</h2>
    <br />
    <table class="table table-hover ">
        <tr class="text-info2">
            <th>
                <h5><label>País</label></h5>
            </th>
            <th>
                <h5><label>Turno</label></h5>
            </th>
            <th>
                <h5><label>Nombre</label></h5>
            </th>
            <th>
                <h5><label>Apellido</label></h5>
            </th>
            <th>
                <h5><label>Fecha de ingreso</label></h5>
            </th>
            <th>
                <h5><label>Valor de la hora</label></h5>
            </th>
            <th>
                <h5><label>Acciones</label></h5>
            </th>
        </tr>

        @foreach (var employee in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(e => employee.Country)
                </td>

                <td>
                    @switch (employee.Shift)
                {
                    case Services.Dtos.EmployeeDto.Shifts.FirstShift:
                            <span>Mañana</span>
                            break;
                        case Services.Dtos.EmployeeDto.Shifts.SecondShift:
                            <span>Tarde</span>
                            break;
                        case Services.Dtos.EmployeeDto.Shifts.ThirdShift:
                            <span>Noche</span>
                            break;
                    }
                </td>

                <td>
                    @Html.DisplayFor(e => employee.FirstName)
                </td>

                <td>
                    @Html.DisplayFor(e => employee.LastName)
                </td>

                <td>
                    @if (employee.HiringDate != null)
                {
                    var hiringDate = (DateTime)employee.HiringDate;
                        <span>@hiringDate.ToString("dd/MM/yyyy")</span>
                    }
                    else
                    {
                        @Html.Display("")
                    }
                </td>

                <td>
                    @Html.DisplayFor(e => employee.HourlyWage)
                </td>

                <td>
                    @Html.ActionLink("Ver salarios", "Index", "Salary", new { id = employee.EmployeeID }, null) |
                    @Html.ActionLink("Editar", "Edit", new { id = employee.EmployeeID }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = employee.EmployeeID })
                </td>
            </tr>
        }

    </table>
</div>
